/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
body{
	background: url(abstract-white-geometric-background-free-vector.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
	font-family: Arial;
	font-size: 1vmax;
}
h1{
	color: rgb(0, 0, 0);
}
#main-container{
	margin: 10.5vmax auto;
	width: 40vmax;
}

/*botones*/
.botones{
		text-decoration: none;
		background-color: white; 
		color: black; 
		border: .1vmax solid #128b40;
		padding: .1vmax .1vmax;
		margin-left: auto;
		margin-right: auto;
		border-radius: 6%;
		font-size:1vmax;
	  
}
	
.botones:hover {
		background-color: #128b40;
		color: white;
		padding:.1vmax .1vmax;
	}
	.botones1{
		text-decoration: none;
		background-color: white; 
		color: black; 
		border: .1vmax solid rgb(204, 12, 12);
		padding: .1vmax .1vmax;
		margin-left: auto;
		margin-right: auto;
		border-radius: 6%;
		font-size:1vmax;
	  
}
	
.botones1:hover {
		background-color: rgb(204, 12, 12);
		color: white;
		padding: .1vmax .1vmax;
	}

	.menu{
		display: flex;
    justify-content: space-between;
    background-color:#d3d4d4;
    color: black;
    padding: 13px 15px;
    font-size: 1.2vmax;
    cursor: pointer;
    user-select: none;
	}

.tabla{
	background-color: white;
}


